.title {
    font-size: 16px;
    margin-top: 0;

    img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        position: relative;
        top: -1px;
    }
}

.university {
    font-family: "Lato", arial, sans-serif;
    font-size: 13px;
    color: #999;
    font-weight: 600;
    padding-left: 25px;

    .year {
        color: #b0b7bf;
        font-weight: 500;
    }
}