<header class="header">
  <div class="container">
    <img style="border-radius: 50%; height: 188px; width: 184px;" class="profile-image img-fluid" src="../../assets/profile2.jpg" alt="">
    <div class="profile-content">
      <h1 class="name">Max Jacobson</h1>
      <h2 class="desc">Software Engineer</h2>
      <ul class="social list-inline">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/max-jacobson/" target="_blank">
            <img src="../../assets/linkedin-icon.svg" alt="">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/mjacobson7" target="_blank">
            <img src="../../assets/github-icon.svg" alt="">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.facebook.com/mjacobson7" target="_blank">
            <img src="../../assets/facebook-icon.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
    <a href="mailto:mjacobson7@gmail.com" class="btn btn-primary contact-me">
      <img src="../../assets/send-icon.svg" alt="">
      Contact Me
    </a>
  </div>
</header>