<section class="section">
  <div class="section-inner">
    <h2 class="heading">About Me</h2>
    <div class="content">
      <p>
        I'm a Software Engineer with experience managing all aspects of Software Development. I'm often found coding
        late into the night working on side projects and learning new technologies. I'm always eager to learn more, and I
        crave knowledge. I strive to be happy and enjoy what I'm doing, but I'm always looking for ways to improve myself
        and to improve what I'm working on.
      </p>
    </div>
  </div>
</section>