<section class="projects section">
  <div class="section-inner">
    <h2 class="heading">Projects</h2>
    <div class="content">
      <div class="item featured text-center">
        <h3 class="title">SkillAmp</h3>
        <p class="summary">Call Center Software that helps reduce agent attrition rates.</p>
        <div class="featured-image">
          <a href="https://max-prod.skillamp.io" target="_blank">
            <img class="img-fluid project-image" src="../../assets/skillamp-screenshot.jpg" alt="">
          </a>
        </div>
        <div class="desc text-left">
          <p>
            Our software surveys customers who spoke with call center agents and provides detailed feedback on what
            customers like, dislike,
            and recommend for your agents. You will also know why they didn't purchase your product. With SkillAmp,
            your
            agents will know what customers are thinking and how to convert that information into more sales.
          </p>
          <a href="https://max-prod.skillamp.io" target="_blank">
            <img src="../../assets/external-link-icon.svg" alt=""> Visit site
          </a>
        </div>
      </div>
      <hr class="divider">

      <div class="item row">
        <a href="http://torch.maxjacobson.me/#/login" target="_blank" class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/torch-screenshot.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Customer Manager - Tool used to help manage customer data</h3>
          <p class="mb-2">To address the growing list of customers at Torch LMS, this small supplemental application
            has been useful in managing
            the list of customers and their corresponding production and uat sites. The application allows you to
            search,
            filter, and sort customers with relative ease, due to the simple UI.
          </p>
          <p>
            <a href="http://torch.maxjacobson.me/#/login" target="_blank">
              <img src="../../assets/external-link-icon.svg" alt=""> Visit site
            </a>
          </p>
        </div>
      </div>

      <div class="item row">
        <a class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/twitter-bots.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Twitter Bot</h3>
          <p class="mb-2">
            I have noticed that there are lots of contests on twitter that require you to like, retweet, and follow the
            person in order to enter the contest. I decided to take advantage of this and increase my chances of
            winning by creating a Twitter Bot using the Twitter API. This bot was built with NodeJS and enters up to
            500 contests per day automatically.
          </p>
        </div>
      </div>

      <div class="item row">
        <a href="http://gifster.maxjacobson.me/" target="_blank" class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/gifster-screenshot.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Gifster - Simple Gif search tool</h3>
          <p class="mb-2">Having been frustrated with an easy method to share GIFs to send to a friend, I created
            Gifster (a humble, yet
            useful application). You have the ability to search for GIFs, and with the simple click of the mouse, it
            copies
            the link to your clipboard so you can share with a friend in seconds.
          </p>
          <p>
            <a href="http://gifster.maxjacobson.me/" target="_blank">
              <img src="../../assets/external-link-icon.svg" alt=""> Visit site
            </a>
          </p>
        </div>
      </div>

      <div class="item row">
        <a href="http://paint.maxjacobson.me/" target="_blank" class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/paint-screenshot.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Paint - A simple paint clone</h3>
          <p class="mb-2">Originally built for my son so he could create beautiful pieces of art while I further
            develop my JQuery skills,
            this application contains over 5,399 small divs that makes up each cell. A very non-practical, but
            educational
            learning experience.
          </p>
          <p>
            <a href="http://paint.maxjacobson.me/" target="_blank">
              <img src="../../assets/external-link-icon.svg" alt=""> Visit site
            </a>
          </p>
        </div>
      </div>

      <div class="item row">
        <a href="http://campsite.maxjacobson.me/" target="_blank" class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/campsite-screenshot.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Campsite - Outdoor Ecommerce Site</h3>
          <p class="mb-2">My final project just before graduating Dev Mountain. This was my first full stack ecommerce
            application built
            with the MEAN stack.
          </p>
          <p>
            <a href="http://campsite.maxjacobson.me/" target="_blank">
              <img src="../../assets/external-link-icon.svg" alt=""> Visit site
            </a>
          </p>
        </div>
      </div>


    </div>
  </div>
</section>