<section class="projects section">
  <div class="section-inner">
    <h2 class="heading">Projects</h2>
    <div class="content">
      <div class="item featured text-center">
        <h3 class="title">SkillAmp</h3>
        <p class="summary">Call Center Software that helps reduce agent attrition rates.</p>
        <div class="featured-image">
          <a href="http://skillamp.maxjacobson.me" target="_blank">
            <img class="img-fluid project-image" src="../../assets/skillamp-screenshot.jpg" alt="">
          </a>
        </div>
        <div class="desc text-left">
          <p>
            Our software surveys customers who spoke with call center agents and provides detailed feedback on what
            customers like, dislike,
            and recommend for your agents. You will also know why they didn't purchase your product. With SkillAmp,
            your
            agents will know what customers are thinking and how to convert that information into more sales.
          </p>
          <p>username: demouser <br> Password: password1</p>
          <a href="http://skillamp.maxjacobson.me" target="_blank">
            <img src="../../assets/external-link-icon.svg" alt=""> Visit site
          </a>
        </div>
      </div>
      <hr class="divider">

      <div class="item row">
        <a href="http://torch.maxjacobson.me/#/login" target="_blank" class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/torch-screenshot.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Torch Customer Manager</h3>
          <p class="mb-2">To address the growing list of customers at Torch LMS, this small supplemental application
            has been useful in managing
            the list of customers and their corresponding production and uat sites. The application allows you to
            search,
            filter, and sort customers with relative ease, due to the simple UI.
          </p>
          <p>
            <a href="http://torch.maxjacobson.me/#/login" target="_blank">
              <img src="../../assets/external-link-icon.svg" alt=""> Visit site
            </a>
          </p>
        </div>
      </div>

      <div class="item row">
        <a href="https://github.com/mjacobson7/twitter-bot" target="_blank" class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/twitter-bots.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Twitter Bot</h3>
          <p class="mb-2">
            This Twitter Bot was created with one thing in mind: Win Contests. The bot runs on a simple Node server. It will like, retweet, and follow in order to enter contests automatically. Currently, the bot is entering about 400 contests a day. The best prize won so far is a signed baseball by former Yankee First Baseman, Don Mattingly.
          </p>
          <p>
            <a href="https://github.com/mjacobson7/twitter-bot" target="_blank">
              <img src="../../assets/external-link-icon.svg" alt=""> Visit site
            </a>
          </p>
        </div>
      </div>

      <div class="item row">
        <a href="http://representative.maxjacobson.me/" target="_blank" class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/representative.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Who is my Representative?</h3>
          <p class="mb-2">
            This small React/Node application allows you to choose whether to search for Representatives or Senators
            for any state in the US using the <a href="http://whoismyrepresentative.com/api" target="_blank">whoismyrepresentative
              API</a>. You can click on an individual representative to see their phone number, address, and district
            they represent.
          </p>
          <p>
            <a href="http://representative.maxjacobson.me/" target="_blank">
              <img src="../../assets/external-link-icon.svg" alt=""> Visit site
            </a>
          </p>
        </div>
      </div>

      <div class="item row">
        <a href="http://pong.maxjacobson.me/" target="_blank" class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/pong.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Pong Clone</h3>
          <p class="mb-2">
            In order to gain a better understanding of canvas, I developed a "Pong" clone with score tracking and AI
            player that you can play against. Hitting the ball on the edges of the paddle will give it an increased
            verticle spin causing it to ricochet quickly towards the opponent.
          </p>
          <p>
            <a href="http://pong.maxjacobson.me/" target="_blank">
              <img src="../../assets/external-link-icon.svg" alt=""> Visit site
            </a>
          </p>
        </div>
      </div>

      <!-- <div class="item row">
        <a href="http://gifster.maxjacobson.me/" target="_blank" class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/gifster-screenshot.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Gifster</h3>
          <p class="mb-2">
            Having been frustrated with an easy method to share GIFs to send to a friend, I created
            Gifster. You have the ability to search for GIFs, and with the simple click of the mouse, it
            copies the link to your clipboard so you can share with a friend in seconds.
          </p>
          <p>
            <a href="http://gifster.maxjacobson.me/" target="_blank">
              <img src="../../assets/external-link-icon.svg" alt=""> Visit site
            </a>
          </p>
        </div>
      </div> -->

      <!-- <div class="item row">
        <a href="http://paint.maxjacobson.me/" target="_blank" class="col-md-4 col-12">
          <img class="img-fluid project-image" src="../../assets/paint-screenshot.jpg" alt="">
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Paint Clone</h3>
          <p class="mb-2">Originally built for my son so he could create beautiful pieces of art while I further
            develop my JQuery skills,
            this application contains over 5,399 small divs that makes up each cell.
          </p>
          <p>
            <a href="http://paint.maxjacobson.me/" target="_blank">
              <img src="../../assets/external-link-icon.svg" alt=""> Visit site
            </a>
          </p>
        </div>
      </div> -->


    </div>
  </div>
</section>