<aside class="section">
  <div class="section-inner">
    <h2 class="heading">Skills</h2>
    <div class="content">
      <p class="intro">Technologies I have experience with on a professional and/or personal level, which I am interested in further developing and learning.</p>
      <div class="skillset">

        <div class="item">
          <h3 class="level-title">
            Javascript
            <span class="level-label">
              <img src="../../assets/info-icon.svg" alt="" matTooltip="Technologies I have worked with and feel comfortable using. I can make use of them right now if asked."> Working Knowledge
            </span>
          </h3>
          <div class="level-bar">
            <div class="level-bar-inner workingKnowledge"></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">
            Java
            <span class="level-label">
              <img src="../../assets/info-icon.svg" alt="" matTooltip="Technologies I have worked with in the past, but am lacking a deep understanding under the hood."> Basic Knowledge
            </span>
          </h3>
          <div class="level-bar">
            <div class="level-bar-inner basicKnowledge"></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">
            Angular
            <span class="level-label">
              <img src="../../assets/info-icon.svg" alt="" matTooltip="Technologies I have worked with and feel comfortable using. I can make use of them right now if asked."> Working Knowledge
            </span>
          </h3>
          <div class="level-bar">
            <div class="level-bar-inner workingKnowledge"></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">
            React
            <span class="level-label">
              <img src="../../assets/info-icon.svg" alt="" matTooltip="Technologies for which I have a basic understanding of their purpose. I can't make practical use of them without studying them in depth first."> Some Exposure
            </span>
          </h3>
          <div class="level-bar">
            <div class="level-bar-inner someExposure"></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">
            PostgreSQL
            <span class="level-label">
              <img src="../../assets/info-icon.svg" alt="" matTooltip="Technologies I have worked with in the past, but am lacking a deep understanding under the hood."> Basic Knowledge
            </span>
          </h3>
          <div class="level-bar">
            <div class="level-bar-inner basicKnowledge"></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">
            JQuery
            <span class="level-label">
              <img src="../../assets/info-icon.svg" alt="" matTooltip="Technologies I have worked with in the past, but am lacking a deep understanding under the hood."> Basic Knowledge
            </span>
          </h3>
          <div class="level-bar">
            <div class="level-bar-inner basicKnowledge"></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">
            Node JS
            <span class="level-label">
              <img src="../../assets/info-icon.svg" alt="" matTooltip="Technologies I have worked with and feel comfortable using. I can make use of them right now if asked."> Working Knowledge
            </span>
          </h3>
          <div class="level-bar">
            <div class="level-bar-inner workingKnowledge"></div>
          </div>
        </div>

        <div class="item">
            <h3 class="level-title">
              MongoDB
              <span class="level-label">
                <img src="../../assets/info-icon.svg" alt="" matTooltip="Technologies I have worked with in the past, but am lacking a deep understanding under the hood."> Basic Knowledge
              </span>
            </h3>
            <div class="level-bar">
              <div class="level-bar-inner basicKnowledge"></div>
            </div>
          </div>

        <div class="item">
          <h3 class="level-title">
            HTML5, &amp; CSS3
            <span class="level-label">
              <img src="../../assets/info-icon.svg" alt="" matTooltip="Technologies I have worked with and feel comfortable using. I can make use of them right now if asked."> Working Knowledge
            </span>
          </h3>
          <div class="level-bar">
            <div class="level-bar-inner workingKnowledge"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</aside>