<app-header></app-header>
<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-lg-8 col-12">
            <app-about-me></app-about-me>
            <app-projects></app-projects>
            <app-work-experience></app-work-experience>
        </div>
        <div class="secondary col-lg-4 col-12">
            <app-side-info></app-side-info>
            <app-skills></app-skills>
            <app-testimonials></app-testimonials>
            <app-education></app-education>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container text-center">
        <small>Max Jacobson</small>
    </div>
</footer>