<aside class="section">
  <div class="section-inner">
    <div class="content">
      <ul class="list-unstyled">
        <li>
          <img src="../../assets/location-icon.svg" alt="">
          <span>Provo, Utah</span>
        </li>
        <li>
          <img src="../../assets/email-icon.svg" alt="">
          <a href="mailto:mjacobson7@gmail.com">mjacobson7@gmail.com</a>
        </li>
        <li>
          <img src="../../assets/download-icon.svg" alt="">
          <a href="../../assets/MaxJacobsonResume.pdf" download>Resume</a>
        </li>
      </ul>
    </div>
  </div>
</aside>