<section class="section">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">

      <div class="item">
        <h3 class="title">
          Software Engineer -
          <span class="place">
            <a href="https://torchlms.com/" target="_blank">Torch LMS</a>
          </span>
          <span class="year"> (Oct 2017 - Present)</span>
        </h3>
        <ul>
          <li>Improved site performance by adding pagination to all existing data tables</li>
          <li>Implemented page where supervisors in application can view their direct reports in a tree view</li>
          <li>Leveraged knowledge: Angular JS, Java (spring), AWS, PostgreSQL</li>
        </ul>
      </div>

      <div class="item">
        <h3 class="title">
          Front End Developer (contract) -
          <span class="place">
            <a href="http://coopertechnology.com/" target="_blank">Cooper Technology</a>
          </span>
          <span class="year"> (Aug 2018 - Present)</span>
        </h3>
        <ul>
          <li>Planned and executed a process where farmers can view the status of their agricultural equipment in real
            time</li>
          <li>Developed Android/Ios App using Ionic (v4) to allow farmers to scan the tags of their cattle to keep
            track of their health</li>
          <li>Leveraged knowledge: Angular (2+), PixiJS</li>
        </ul>
      </div>

      <div class="item">
        <h3 class="title">
          Software Developer -
          <span class="place">
            <a href="https://max-prod.skillamp.io" target="_blank">SkillAmp</a>
          </span>
          <span class="year"> (Oct 2017 - Nov 2018)</span>
        </h3>
        <ul>
          <li>Designed and built multi-tenant SaaS application from the ground up</li>
          <li>Leveraged knowledge: Angular (2+), ChartJS, NodeJS (Express), PostgreSQL</li>
        </ul>
      </div>

      <div class="item">
        <h3 class="title">
          Jr. Software Developer -
          <span class="place">
            <a href="https://torchlms.com/" target="_blank">Torch LMS</a>
          </span>
          <span class="year"> (Aug 2016 - Oct 2017)</span>
        </h3>
        <ul>
          <li>Reduced app latency by optimizing SQL queries</li>
          <li>Utilized AWS to roll code to our UAT environment 2x/day</li>
        </ul>
      </div>

      <div class="item">
        <h3 class="title">
          Technical Project Manager -
          <span class="place">
            <a href="https://torchlms.com/" target="_blank">Torch LMS</a>
          </span>
          <span class="year"> (Dec 2015 - Apr 2017)</span>
        </h3>
        <ul>
          <li>Reduced support tickets by 84% by establishing and regularly updating a well-optimized knowledge base</li>
          <li>Revitalized QA process by building out automated daily endpoint testing on our entire application</li>
        </ul>
      </div>

      <div class="item">
        <h3 class="title">
          Desktop Support Analyst -
          <span class="place">
            <a href="https://www.serverplus.com/" target="_blank">Server Plus</a>
          </span>
          <span class="year"> (Jan 2015 - Dec 2015)</span>
        </h3>
        <ul>
          <li>Consistently recognized for highest number of tickets resolved on team</li>
          <li>Troubleshoot all aspects of computer issues using a ticketing system</li>
        </ul>
      </div>

    </div>
  </div>
</section>