<section class="section">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">

      <div class="item">
        <h3 class="title">
          Software Engineer -
          <span class="place">
            <a href="https://torchlms.com/" target="_blank">Torch LMS</a>
          </span>
          <span class="year"> (Oct 2017 - Present)</span>
        </h3>
        <p>
          Full stack development for a multi-tenant SaaS application with 500k+ users. Integrated the use of timezones in the site
          for our world-wide customer base. Responsible for a complete redesign of the user assignments page which gave users
          more flexibility to view tasks assigned to them. Developed a page where supervisors can view their team as well
          as any of their teams' direct reports. Technologies used: AngularJS, Java (spring), PostgreSQL, AWS
        </p>
      </div>

      <div class="item">
        <h3 class="title">
          Front End Developer (contract) -
          <span class="place">
            <a href="http://coopertechnology.com/" target="_blank">Cooper Technology</a>
          </span>
          <span class="year"> (Aug 2018 - Present)</span>
        </h3>
        <p>
          Responsible for upgrading aging front-end codebase with a complete UI redesign for agricultural equipment company. Assist
          with building out a new mobile application as part of a two-man development team using the Ionic framework.
        </p>
      </div>

      <div class="item">
        <h3 class="title">
          Co-Founder &amp; Lead Developer -
          <span class="place">
            <a href="https://skillamp.io/" target="_blank">SkillAmp</a>
          </span>
          <span class="year"> (Oct 2017 - Present)</span>
        </h3>
        <p>Conceived, researched, planned, and launched startup in call center industry to help reduce attrition rates and improve
          customer loyalty. Designed and built multi-tenant SaaS application from the ground up. Regularly collaborating
          with team members on goal implementation. Technologies used: Angular 2+, Node JS (express), PostgreSQL</p>
      </div>

      <div class="item">
        <h3 class="title">
          Jr. Software Developer -
          <span class="place">
            <a href="https://torchlms.com/" target="_blank">Torch LMS</a>
          </span>
          <span class="year"> (Aug 2016 - Oct 2017)</span>
        </h3>
        <p>
          Assisted with overhaul of mobile-responsiveness of application in its entirety. Responsible for deploying code to UAT environment
          daily. Upgraded in-app video player for a seamless transition for customers. Improved performance with various
          queries in our PostgreSQL database. Assist the project lead in tracking current project developments and estimating
          the expected project completion.
        </p>
      </div>

      <div class="item">
        <h3 class="title">
          Technical Project Manager -
          <span class="place">
            <a href="https://torchlms.com/" target="_blank">Torch LMS</a>
          </span>
          <span class="year"> (Dec 2015 - Apr 2017)</span>
        </h3>
        <p>
          Working at an up-and-coming software company has allowed me to develop many skills and wear many hats. During my tenure,
          support tickets were reduced by 84%. Demonstrated proficiency in testing web-based systems to identify any performance
          and quality issues as well as bug tracking. Evaluated new software applications and coordinated with team to address
          any defects as well as discuss QA concerns. Committed to ensuring that quality standards are upheld to promote
          optimal customer satisfaction. Facilitated Single-Sign-On and SFTP integrations with clients and ensured a smooth,
          well-documented implementation.
        </p>
      </div>

      <div class="item">
        <h3 class="title">
          Desktop Support Analyst -
          <span class="place">
            <a href="https://www.serverplus.com/" target="_blank">Server Plus</a>
          </span>
          <span class="year"> (Jan 2015 - Dec 2015)</span>
        </h3>
        <p>
          Customer-focused Desktop Support Technician with success in a variety of computer operating systems, applications, and hardware.
          Consistently one of the top three technicians in regards to not only the number of tickets resolved, but the amount
          of repeat tickets. Analytical and adept at resolving complex network issues. Critical thinker who addresses customer
          support issues quickly and who consistently exceeds performance standards. Responsibilities include: Install, configure,
          test, maintain, monitor, and troubleshoot end user and network hardware, peripheral devices, printing/scanning
          devices, and mobile devices using a ticketing system.
        </p>
      </div>

    </div>
  </div>
</section>