.quote {
    color: #666;
    font-size: 16px;
    border-left: 5px solid #9fdeb7;
    padding: 5px 15px;
    margin-bottom: 15px;

    p {
        margin-bottom: 0;

        img {
            width: 16px;
            height: 16px;
            margin-right: 15px;
        }
    }
}

.source {
    font-size: 14px;
    padding-left: 20px;
    font-weight: 500;

    .name {
        color: #939ea9;
        font-weight: 600;
    }

    .title {
        color: #999;
    }
}

.more-link {
    img {
        width: 18px;
        height: 18px;
        position: relative;
        top: -2px;
    }
}