<aside class="section">
  <div class="section-inner">
    <h2 class="heading">Testimonials</h2>
    <div class="content">

      <div class="item">
        <blockquote class="quote">
          <p>
            <img src="../../assets/quote-icon.svg" alt=""> Max is a very talented developer. He has shown the ability to pick up on new concepts and technologies with
            ease, and excels at any task he is put in front of. I have confidence in his skills as a developer and wouldn't
            hesitate to recommend Max for any position.</p>
        </blockquote>
        <p class="source">
          <span class="name">Chris J. O&#39;Neill</span>
          <br>
          <span class="title">Senior Solutions Architect at Observepoint</span>
        </p>
      </div>

      <div class="item">
        <blockquote class="quote">
          <p>
            <img src="../../assets/quote-icon.svg" alt=""> Max is exceptional to work with, and gets solid results. He is a team player, he is punctual, and always willing
            to help out with anything that needs to be done. Max is always pushing himself to learn more and develop himself
            professionally. We are very lucky to have Max on our team!</p>
        </blockquote>
        <p class="source">
          <span class="name">Jake White</span>
          <br>
          <span class="title">Founder/CEO at Torch LMS</span>
        </p>
      </div>

      <div class="item">
        <blockquote class="quote">
          <p>
            <img src="../../assets/quote-icon.svg" alt=""> In his time with our lean team, [Max] has shown the ability to wear many different hats, and always runs to
            the fire to figure out how he can add value for our clients. Specifically, Max has become an indispensable resource
            through his product knowledge and testing ability on our system.</p>
        </blockquote>
        <p class="source">
          <span class="name">Jaron Mathis</span>
          <br>
          <span class="title">COO at Torch LMS</span>
        </p>
      </div>

      <p>
        <a href="https://www.linkedin.com/in/max-jacobson/" target="_blank" class="more-link">
          <img src="../../assets/external-link-icon.svg" alt=""> More on LinkedIn
        </a>
      </p>
    </div>
  </div>

</aside>