/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


$theme-colors: (
    "primary": #3AAA51
);

body {
    font-family: 'Lato', arial, sans-serif;
    color: #434343;
    background-color: #DAE3E7 !important;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    color: #778492;
}

.section {
    margin-bottom: 30px;

    .section-inner {
        background: #fff;
        padding: 30px;

        .heading {
            margin-top: 0;
            margin-bottom: 30px;
            color: #545e69;
            font-size: 24px;
            font-weight: 700;
        }

        .item {
            margin-bottom: 30px;

            .title {
                color: #778492;
                font-weight: 700;
            }
        }
    }
}

// Bootstrap and its default variables; Keep at the bottom
@import "../node_modules/bootstrap/scss/bootstrap.scss";